@import "button"
@import "linear-rotate"

.pure-toast
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 99999
  pointer-events: none

  .pure-toast-item
    pointer-events: none
    display: block
    //width: 400px
    font-size: 1em
    text-align: center
    //margin-left: -200px
    margin-top: 0.5em

    span
      border-radius: 4px
      padding: 0.5em
      pointer-events: all
      display: inline-block

  .pure-toast-item-info
    background-color: #ebf7fd
    color: #2D708D
    border: 1px solid rgba(45, 112, 145, .3)
    text-shadow: 0 1px 0 #fff

  .pure-toast-item-error
    background-color: #fff1f0
    color: #d85030
    border: 1px solid rgba(216, 80, 48, .3)
    text-shadow: 0 1px 0 #fff

  .pure-toast-item-warn
    background-color: #fffceb
    color: #e28327
    border: 1px solid rgba(226, 131, 39, .3)
    text-shadow: 0 1px 0 #fff
